@model FinalProject272.Models.ContactViewModel

@{ ViewBag.Title = "Create"; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <title>Create Contact</title>
    <style>
        body {
            background-color: #1D100E;
        }
        .inner-page-banner {
            background-size: cover;
            background-position: center;
            height: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
        .inner-page-title {
            text-align: center;
        }

        .main-title h2 {
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 10px;
        }

        .about-section {
            padding: 100px 0;
        }

        .about-info {
            display: flex;
            flex-wrap: wrap;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        .col-lg-6 {
            width: 50%;
            padding-right: 15px;
            padding-left: 15px;
        }

        .contact-form {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .input-box {
            margin-bottom: 20px;
        }

        .main-title {
            font-weight: bold;
            font-size: 36px;
            margin-bottom: 10px;
        }

        .color-title {
            color: #333;
        }

        .text span {
            font-size: 18px;
            margin-bottom: 20px;
        }

        .text p {
            font-size: 18px;
            margin-bottom: 20px;
        }


        .contact-info {
            list-style: none;
            padding: 0;
        }

            .contact-info li {
                margin-bottom: 10px;
            }

                .contact-info li i {
                    margin-right: 10px;
                    color: #cc5027;
                }


               @*style for the container, contaact form *@


        .contact-form-container {
            max-width: 450px;
            max-height: auto;
            margin: 10px;
            padding: 20px;
            border-color: black;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px rgba(10, 0, 0, 0.1);
        }

        form {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
        }


        .form-group input[type="text"],
        .form-group input[type="email"],
        .form-group input[type="number"],
        .form-group textarea {
            font-size: 14px;
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            justify-content: left;
        }

        .form-group textarea {
            height: auto;
            font-size: 14px;
        }

        .btn-submit {
            background-color: #cc5027;
            color: #fff;
            border: none;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;

        }
       .form-group btn-submit{
           text-align:center;
       }


        .text-success {
            color: green;
            margin-top: 15px;
            font-size: 14px;
        }




    </style>
</head>
<body>
    <section class="inner-page-banner" style="background-image: url('@Url.Content("~/Content/Images/Wine_Setup.jpg")');">

        <div class="container">
            <div class="inner-page-title">
                <div class="main-title">
                    <h2>Contact Us</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="about-section section-gaps">
        <div class="container">
            <div class="about-info">
                <div class="row gy-4">
                    <div class="col-lg-6">
                        <div class="text">
                            <div class="position-relative color-title">
                                <div class="main-title">
                                    <h2>Get in Touch</h2>
                                </div>
                                <p>
                                    We'd love to hear from you! Whether you have a question, comment, or feedback, please don't hesitate to reach out.
                                </p>
                                <ul class="contact-info">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <span>Address:</span>
                                        <span>22 Sheffield St, Auburn NSW 2144</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone-alt"></i>
                                        <span>Phone:</span>
                                        <span>(02) 8677 522842</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i>
                                        <span>Email:</span>
                                        <span>himalayannepalese@gmail.com</span>
                                    </li>
                                </ul>

                                <img src="~/Content/Images/setup.jpg" style="width:100%; height: 400px; border-radius: 10px;" />
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="main-title">
                            <h2>Send us a message</h2>
                            <div class="container contact-form-container">


                                @using (Html.BeginForm())
                                {
                    @Html.AntiForgeryToken()

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name)
                                        @Html.EditorFor(model => model.Name)
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>

                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Email)
                                                        @Html.EditorFor(model => model.Email)
                                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                    </div>

                                                                    <div class="form-group">
                                                                        @Html.LabelFor(model => model.Number)
                                                                        @Html.EditorFor(model => model.Number)
                                                                        @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                                                                    </div>

                                                                                    <div class="form-group">
                                                                                        @Html.LabelFor(model => model.Message)
                                                                                        @Html.TextAreaFor(model => model.Message, new { rows = 5 })
                                                                                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                                                                                    </div>

                                                                                                    <div class="form-group">
                                                                                                        <input type="submit" value="Send" class="btn-submit" style="padding-left: 10px" />
                                                                                                    </div>}

                                <div class="text-success">
                                    @ViewBag.Message
                                </div>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </section>





</body>
</html>